.commercial {
  width: 100%;
  min-height: 150px;
  background-image: linear-gradient(to right, #211b19, #4e3427);
  display: flex;
  justify-content: center;
  align-items: center;
}
.commercial-text-h3 {
  margin: 0 470px 8px 0;
  font-family: Raleway;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.commercial-text-h3-word-Waxom {
  color: #c7b299;
}
.commercial-text-span {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #615855;
}
.commercial-button {
  min-width: 170px;
  height: 53px;
  border-radius: 3px;
  background-color: #998675;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.commercial-button:focus {
  outline: none;
}
.commercial-button:hover {
  background-color: #ffffff;
  color: #998675;
}
