.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background-partners.jpg);
  width: 100%;
  min-height: 490px;
}
.partners-item {
  margin-right: 90px;
  transition: ease-in 500ms;
}
.partners-item:hover {
  transition: ease-in 500ms;
  transform: scale(1.3);
}
