@import url(fonts.css);
@import url(header.css);
@import url(services.css);
@import url(three-images.css);
@import url(comercial.css);
@import url(latest.css);
@import url(block-video.css);
@import url(excellent.css);
@import url(recent.css);
@import url(coffee.css);
@import url(partners.css);
@import url(footer.css);
body {
  width: 1920px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  body {
    width: 480px;
  }
  .main-header {
    padding: 20px;
    display: flex;
    min-height: auto;
    justify-content: flex-start;
    align-items: center;
    background: url(../img/photo.png) 50% 50% no-repeat;
  }
  .main-header-top {
    padding: 0;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  .main-header-top-logo {
    align-self: flex-start;
  }
  .main-header-top-nav {
    display: none;
  }
  .main-header-top-nav ul {
    flex-direction: column;
  }
  .main-header-top-mini-icons {
    display: none;
  }
  .main-header-primary .main-header-middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .main-header-primary .main-header-middle-text {
    padding: 20px;
  }
  .main-header-primary .main-header-middle-text-p {
    margin: 0 0 20px 0;
  }
  .main-header-primary .main-header-middle-button-left {
    display: none;
  }
  .main-header-primary .main-header-middle-button-right {
    display: none;
  }
  .main-header-bottom {
    display: none;
  }
  .main-header-mobile {
    display: block;
  }
  .main-header-mobile #main-header-mobile-menu {
    display: none;
  }
  .main-header-mobile-menu-class {
    position: absolute;
    top: 20px;
    right: 33px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-header-mobile-menu-span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .main-header-mobile-menu-span::after {
    content: '';
    top: -8px;
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.3s;
  }
  .main-header-mobile-menu-span:before {
    content: '';
    top: 8px;
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.3s;
  }
  .main-header-mobile-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .main-header-mobile-nav ul {
    list-style: none;
    margin: 0;
  }
  .main-header-mobile-nav ul li {
    margin: 10px 0 0 0;
  }
  .main-header-mobile-nav ul li .active {
    color: #c7b299;
  }
  .main-header-mobile-nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: 30px;
  }
  input[type="checkbox"]:checked ~ .main-header-mobile-nav {
    height: auto;
    display: flex;
  }
  input[type="checkbox"]:checked ~ .main-header-mobile-menu-class > span {
    visibility: hidden;
  }
  input[type="checkbox"]:checked ~ .main-header-mobile-menu-class > span::before {
    visibility: visible;
    transform: rotate(45deg);
    top: -7px;
  }
  input[type="checkbox"]:checked ~ .main-header-mobile-menu-class > span:after {
    visibility: visible;
    transform: rotate(-45deg);
  }
  .services {
    padding: 20px 20px;
    justify-content: space-around;
  }
  .services-web {
    width: 200px;
    margin: 0 0 20px 0;
  }
  .services-development {
    width: 200px;
  }
  .services-customization {
    width: 200px;
  }
  .services-marketing {
    width: 200px;
  }
  .commercial {
    display: none;
  }
  .latest {
    padding: 20px 20px;
  }
  .latest-h3 {
    margin: 20px 0 20px 0;
  }
  .latest-p {
    font-size: 14px;
  }
  .latest-mini-buttons {
    margin: 20px 0 0 0;
  }
  .latest-mini-buttons-button {
    font-size: 10px;
    padding: 5px 10px;
  }
  .latest-examples {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .latest-examples-item {
    margin-right: 0;
  }
  .latest-button {
    margin: 40px 0 0 0;
  }
  .excellent {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .excellent-txt {
    width: 100%;
    margin: 0;
  }
  .excellent-img {
    margin: 20px 0 0 0;
    width: 30%;
    height: 192px;
    background-image: url(../img/iPhone-in-hand.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-end;
    order: 3;
  }
  .excellent-txt-edge-wrp {
    width: 50%;
  }
  .coffee {
    padding: 20px;
  }
  .coffee-item {
    padding: 0;
    margin: 10px 10px;
  }
  .recent {
    padding: 20px;
  }
  .recent-h3 {
    margin: 0 0 20px 0;
  }
  .recent-article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recent-article-block {
    margin: 0 0 20px 0;
  }
  .recent-arrows {
    display: none;
  }
  .partners {
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    min-height: auto;
    width: auto;
  }
  .partners-item {
    margin: 0 10px 10px 0;
  }
  .block-video {
    display: none;
  }
  .three-images {
    display: none;
  }
  footer {
    padding: 0;
    margin: 0;
  }
  footer .footer-main {
    padding: 20px;
    flex-wrap: wrap;
  }
  footer .footer-main-waxom {
    margin: 0;
  }
  footer .footer-main-waxom p {
    margin: 20px 0 20px 0;
  }
  footer .footer-main-posts {
    margin: 0;
  }
  footer .footer-main-twitter {
    margin: 0;
  }
  footer .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  footer .footer-bottom-left {
    margin: 0 0 10px 0;
    padding: 0;
  }
  footer .footer-bottom-right {
    margin: 0;
    padding: 0;
  }
}
