.three-images {
  background-color: #fbfaf8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.three-images-h3 {
  margin: 0 0 0 0;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
  padding-top: 83px;
}
.three-images-p {
  margin: 24px 0 40px 0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: #8c8c8c;
  width: 757px;
  text-align: center;
}
.three-images-pictures {
  width: 1230px;
  min-height: 482px;
  position: relative;
  display: flex;
}
.three-images-pictures img:first-child {
  position: absolute;
  top: 82px;
  z-index: 1;
}
.three-images-pictures img:first-child:hover {
  z-index: 3;
}
.three-images-pictures img:nth-child(2) {
  position: absolute;
  left: 230px;
  z-index: 2;
}
.three-images-pictures img:last-child {
  position: absolute;
  top: 82px;
  left: 460px;
  z-index: 1;
}
.three-images-pictures img:last-child:hover {
  z-index: 3;
}
